{% load static %} 
<div class="col-md-4">

    <div class="aside-widget text-center">
        <a href="https://nagad.com.bd" target="_blank" style="display: inline-block;margin: auto;">
            <img class="img-responsive" src="{% static "./img/nagad.png" %}" alt style="width: 300px; height: 205px; display: block;">
        </a>
    </div>


    <div class="aside-widget">
        <div class="section-title">
            <h2 class="title">Social Media</h2>
        </div>
        <div class="social-widget">
            <ul>
                <li>
                    <a href="#" class="social-facebook">
                        <i class="fa-brands fa-facebook"></i>
                        <span>21.2K<br>Followers</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-twitter">
                        <i class="fa-brands fa-twitter"></i>
                        <span>10.2K<br>Followers</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-google-plus">
                        <i class="fa-brands fa-google-plus"></i>
                        <span>5K<br>Followers</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="aside-widget">
        <div class="section-title">
            <h2 class="title">Categories</h2>
        </div>
        <div class="category-widget">
            <ul>
                {% for category in footer_categories %}
                <li><a href="{% url "category_details" category.id %}">{{ category.name }} <span>{{ category.post_count }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="aside-widget">
        <div class="section-title">
            <h2 class="title">Newsletter</h2>
        </div>
        <div class="newsletter-widget">
            <form>
                <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                <input class="input" placeholder="Enter Your Email">
                <button class="primary-button">Subscribe</button>
            </form>
        </div>
    </div>


    <div class="aside-widget">
        <div class="section-title">
            <h2 class="title">Popular Posts</h2>
        </div>
        {% for post in popular_posts %}
        <div class="post post-widget"> 
           
            <a class="post-img" href="{% url "details_blog" post.id %}"><img src="{{ post.images.first.image.url }}" alt></a>
            <div class="post-body">
                <div class="post-category">
                    <a href="{% url "category_details" post.category.id %}">{{ post.category.name }}</a>
                </div>
                <h3 class="post-title"><a href="{% url "details_blog" post.id %}">{{ post.title|truncatewords:10 }}</a></h3>
            </div> 
            
        </div>
        {% endfor %}


    </div>


    <div class="aside-widget">
        <div class="section-title">
            <h2 class="title">Instagram</h2>
        </div>
        <div class="galery-widget">
            <ul>
                <li><a href="#"><img src="{% static "./img/galery-1.jpg" %}" alt></a></li>
                <li><a href="#"><img src="{% static "./img/galery-2.jpg" %}" alt></a></li>
                <li><a href="#"><img src="{% static "./img/galery-3.jpg" %}" alt></a></li>
                <li><a href="#"><img src="{% static "" %}" alt></a></li>
                <li><a href="#"><img src="{% static "./img/galery-5.jpg" %}" alt></a></li>
                <li><a href="#"><img src="{% static "./img/galery-6.jpg" %}" alt></a></li>
            </ul>
        </div>
    </div>


    <div class="aside-widget text-center">
        <a href="https://www.bkash.com/" style="display: inline-block;margin: auto;">
            <img class="img-responsive" src="{% static "./img/Bkash.jpg" %}" alt style="width: 228px; height: 350px; display: block;">
        </a>
    </div>

</div>