{% extends "include/base.html" %} 
{% load static %} 
{% block title %}Categories | Callie Blog{% endblock title %} 
{% block body %}

    <!-- === Hero Section Start === -->
    <section class="page-header">
        <div class="page-header-bg" style="
    background-image: url('{% if category.image %}{{ category.image.url }}{% else %}{% static 'img/header-2.jpg' %}{% endif %}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust the height as needed */
    width: 100%; /* Ensures the container spans the full width */
">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <h1 class="text-uppercase">{{ category.name }}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- === Hero Section End === -->

    <!--  === Blog Details Start -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                        {% for post in posts %}
                            <div class="post post-thumb">
                                <a class="post-img" href="{% url 'details_blog' post.id %}">
                                    <img src="{{ post.images.first.image.url }}" alt="{{ post.title }}">
                                </a>
                                <div class="post-body">
                                    <div class="post-category">
                                        {% for category in post.categories.all %}
                                            <a href="{% url 'category_details' category.id %}">{{ category.name }}</a>
                                        {% endfor %}
                                    </div>
                                    <h3 class="post-title title-lg">
                                        <a href="{% url 'details_blog' post.id %}">{{ post.title }}</a>
                                    </h3>
                                    <ul class="post-meta">
                                        <li><a href="#">{{ post.author.name }}</a></li>
                                        <li>{{ post.created_at|date:"d M Y" }}</li>
                                    </ul>
                                    <p>{{ post.excerpt }}</p>
                                </div>
                            </div>
                        {% empty %}
                            <p>No posts available.</p>
                        {% endfor %}
                    
                    

                    
                 


                  

        
                    <div class="section-row loadmore text-center">
                        <a href="#" class="primary-button">Load More</a>
                    </div>
                </div>
                {% include "include/right_side.html" %}
            </div>

        </div>

    </section>
    <!--  === Blog Details Start -->

{% endblock body %}