{% extends "include/base.html" %} 
{% load static %} 
{% block title %}Blog | Callie Blog{% endblock title %} 
{% block body %}
 <!-- === Hero Section Start === -->
 <section id="post-header" class="page-header">
    <div class="page-header-bg" style="background-image: url('{% if post.images.first %}{{ post.images.first.image.url }}{% endif %}');"
        data-stellar-background-ratio="0.5"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="post-category">
                    <a href="category.html">{{ post.category }}</a>
                </div>
                <h1>{{ post.title }}</h1>
                <ul class="post-meta">
                    <li><a href="{% url "author" %}">{{ post.user.first_name }} {{ post.user.last_name }}</a></li>
                    <li>{{ post.created_at  }}</li>
                    <li><i class="fa fa-comments"></i> 3</li>
                    <li><i class="fa fa-eye"></i> {{ post.post_view }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- === Hero Section End === -->


    <!-- === Blog Deatils Start === -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <div class="section-row">
                        <div class="post-share">
                            <a href="#" class="social-facebook"><i
                                    class="fa-brands fa-facebook"></i><span>Share</span></a>
                            <a href="#" class="social-twitter"><i
                                    class="fa-brands fa-twitter"></i><span>Tweet</span></a>
                            <a href="#" class="social-pinterest"><i
                                    class="fa-brands fa-pinterest"></i><span>Pin</span></a>
                            <a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>
                        </div>
                    </div>


                    <div class="section-row">
                        <h1>{{ post.title }}</h1>
                        <p>{{ post.content|safe }}</p>
                     
                    </div>


                    <div class="section-row">
                        <div class="post-tags">
                            <ul>
                                <li>TAGS:</li> 
                                {% for tag in post.tags.all %}
                                <li><a href="#">{{ tag.name }}</a></li> 
                                {% empty %} 
                                <li>No tags found</li> 
                                {% endfor %}
                              
                            </ul>
                        </div>
                    </div>


                    <div class="section-row">
                        <div class="post-nav">
                            <div class="prev-post">
                                <a class="post-img" href="blog-post.html"><img src="{% static "./img/widget-8.jpg" %}" alt></a>
                                <h3 class="post-title"><a href="#">Sed ut perspiciatis, unde omnis iste natus error
                                        sit</a></h3>
                                <span>Previous post</span>
                            </div>
                            <div class="next-post">
                                <a class="post-img" href="blog-post.html"><img src="{% static "./img/widget-10.jpg" %}" alt></a>
                                <h3 class="post-title"><a href="#">Postea senserit id eos, vivendo periculis ei qui</a>
                                </h3>
                                <span>Next post</span>
                            </div>
                        </div>
                    </div>


                    <div class="section-row">
                        <div class="section-title">
                            <h3 class="title">About <a href="{% url "author" %}">{{ post.user.first_name }} {{ post.user.last_name }}</a></h3>
                        </div>
                        <div class="author media">
                            <div class="media-left">
                                <a href="{% url "author" %}">
                                    <img class="author-img media-object" src="{% static "./img/avatar-1.jpg" %}" alt>
                                </a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                                <ul class="author-social">
                                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="section-title">
                            <h3 class="title">Related Posts</h3>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="post post-sm">
                                    <a class="post-img" href="blog-post.html"><img src="{% static "./img/post-4.jpg" %}" alt></a>
                                    <div class="post-body">
                                        <div class="post-category">
                                            <a href="category.html">Health</a>
                                        </div>
                                        <h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos,
                                                vivendo periculis ei qui</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="{% url "author" %}">John Doe</a></li>
                                            <li>20 April 2018</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="post post-sm">
                                    <a class="post-img" href="blog-post.html"><img src="{% static "./img/post-6.jpg" %}" alt></a>
                                    <div class="post-body">
                                        <div class="post-category">
                                            <a href="category.html">Fashion</a>
                                            <a href="category.html">Lifestyle</a>
                                        </div>
                                        <h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit
                                                tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="{% url "author" %}">John Doe</a></li>
                                            <li>20 April 2018</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="post post-sm">
                                    <a class="post-img" href="blog-post.html"><img src="{% static "./img/post-7.jpg" %}" alt></a>
                                    <div class="post-body">
                                        <div class="post-category">
                                            <a href="category.html">Health</a>
                                            <a href="category.html">Lifestyle</a>
                                        </div>
                                        <h3 class="post-title title-sm"><a href="blog-post.html">Ne bonorum praesent
                                                cum, labitur persequeris definitionem quo cu?</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="{% url "author" %}">John Doe</a></li>
                                            <li>20 April 2018</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="section-row">
                        <div class="section-title">
                            <h3 class="title">{{ post.comments.count }} Comments</h3>
                        </div>
                        <div class="post-comments">
                            {% for comment in post.comments.all %}
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="{{ comment.user.image.url|default:'path/to/default/avatar.jpg' }}" alt="{{ comment.user.username }}">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h4>{{ comment.user.username }}</h4>
                                        <span class="time">{{ comment.created_at|timesince }} ago</span>
                                    </div>
                                    <p>{{ comment.content }}</p>
                                    <a href="#reply-{{ comment.id }}" class="reply">Reply</a>
                    
                                    {% for reply in comment.replies.all %}
                                    <div class="media media-author">
                                        <div class="media-left">
                                            <img class="media-object" src="{{ reply.user.profile.image.url|default:'path/to/default/avatar.jpg' }}" alt="{{ reply.user.username }}">
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <h4>{{ reply.user.username }}</h4>
                                                <span class="time">{{ reply.created_at|timesince }} ago</span>
                                            </div>
                                            <p>{{ reply.content }}</p>
                                            <a href="#reply-{{ reply.id }}" class="reply">Reply</a>
                                        </div>
                                    </div>
                                    {% endfor %}
                    
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="section-row">
                        <div class="section-title">
                            <h3 class="title">Leave a reply</h3>
                        </div>
                        <form class="post-reply" method="POST" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="input" name="content" placeholder="Message" required></textarea>
                                    </div>
                                </div>
                                {% if not user.is_authenticated %}
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="input" type="text" name="username" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="input" type="email" name="email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="input" type="password" name="password" placeholder="Password" required>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-md-12">
                                    <button class="primary-button">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    

                </div>
                {% include "include/right_side.html" %}
            </div>

        </div>

    </div>
    <!-- === Blog Deatils End === --> 

{% endblock body %}